= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"
%main{role: 'main'}
  %section.jumbotron.text-center
    .container
      %h1.jumbotron-heading
        When does the bus come?
      %p.lead.text-muted
        Some text about things go here!!!
  .album.text-muted
    .container
      .row
        .card
          %img{:alt => "Card image cap", "data-src" => "holder.js/100px280?theme=thumb"}/
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card
          %img{:alt => "Card image cap", "data-src" => "holder.js/100px280?theme=thumb"}/
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card
          %img{:alt => "Card image cap", "data-src" => "holder.js/100px280?theme=thumb"}/
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card
          %img{:alt => "Card image cap", "data-src" => "holder.js/100px280?theme=thumb"}/
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card
          %img{:alt => "Card image cap", "data-src" => "holder.js/100px280?theme=thumb"}/
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card
          %img{:alt => "Card image cap", "data-src" => "holder.js/100px280?theme=thumb"}/
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card
          %img{:alt => "Card image cap", "data-src" => "holder.js/100px280?theme=thumb"}/
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card
          %img{:alt => "Card image cap", "data-src" => "holder.js/100px280?theme=thumb"}/
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
        .card
          %img{:alt => "Card image cap", "data-src" => "holder.js/100px280?theme=thumb"}/
          %p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
%footer.text-muted
  .container
    %p Made with ❤️  by Vidality Codeworks

